h1,
h2,
h3 {
  font-weight: bold;
}

body {
  background-color: $first;
}

header,
footer {
  background-color: $second;
  color: $fourth;
  padding: $global-padding;
}

main {
  background-color: $fourth;
  padding: $global-padding;
}

.menu {
  font-weight: 500;
}
