// Colors from pallet https://coolors.co/603b1e-6a6262-9c9990-cfd2b2-e0d8de.

$first:#603B1E; // Body BG
$second: #6A6262; // header BG
$third:#9C9990;  // menu bg
$fourth:#CFD2B2; // main BG
$fifth:#E0D8DE;

$topbar-background:$fifth;

$body-font-family: 'Source Sans Pro', 'Noto Sans', Roboto, Arial, sans-serif !default;

$global-padding: 5px;
