{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<h2>
  Access denied
</h2>
<div class="error">
  You don't have permission to access this page, please login to continue.
</div>
{% endblock %}
